.fis{
	font-family: 'Play', sans-serif;
	margin-top:100px;

}
.fis img{
	transition: 0.2s;
}
.fis img:hover{
	/*filter:grayscale(100%);*/
	transform:scale(1.13,1.15);
	box-shadow: 5px 5px 5px #888888;
}

.cls1{
	margin-right: 30px;
}
.mg{
	margin-top: 40px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 55px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color:  #e6e6e6;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.marg{
	margin-left: 200px;
}
.bgc{
	background-color: #00004d;
}